.search-box {
    // width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 140px;

    &_ticket-search {
        width: 90%;
        padding: 0px 20px;
        border: 0px solid grey;
        border-radius: 3px;
        text-align: center;
        box-shadow: 0 0 10px rgb(1, 1, 0.5);
        background-color: rgba(0, 0, 0, 0.07);
    }

    &_button {
        width: 220px;
        height: 65px;
        font-size: 20px;
        color: white;
        margin: 25px 0px 30px 0px;
        border: 0px solid transparent;
        border-radius: 3px;
        background-color: rgb(255, 0, 55);
        box-shadow: 0 0 9px rgba(0,0,0,1);
        
        &:active {
            background-color: red;
        }
    }

}