.recommended-countries {
    position: absolute;
    // top: 60px;
    // left: 30px;
    margin: 340px 0 0 40px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,1);
    background-color: rgb(221, 228, 230);
    z-index: 3;

    

    &_card-city {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 0px 5px 5px;
        border-bottom: 1px solid rgb(167, 167, 167);

        &:hover {
            background-color: rgb(201, 208, 210);
        }

        &--city {
            font-size: 19px;
            font-weight: 600;
            margin: 5px 10px 5px 10px;
            white-space: nowrap;
            color: rgb(51, 51, 51);
        }

        &--country {
            font-size: 16px;
            margin: 0px 10px 0px 0px;
            white-space: nowrap;
            color: rgb(106, 101, 101);
        }
    }



    &_card-airport {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(167, 167, 167);

        &:hover {
            background-color: rgb(201, 208, 210);
        }

        & svg {
            width: 20px;
            height: 20px;
            margin: 5px 15px 5px 10px;
        }
    }



    &_airport {
        font-size: 16px;
        font-weight: 600;
        margin: 5px 20px 0px 0px;
        white-space: nowrap;
    }



    &_country {
        margin: 0px 0px 5px 0px;
        text-align: left;
        color: rgb(106, 101, 101);
    }



    &_iata {
        font-size: 16px;
        font-weight: 600;
        margin: auto 5px auto 20px;
    }
}