.passenger-selection {
    width: 300px;
    background-color: red;
    position: absolute;
    margin-top: 12px;

    &_buttons-box {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    &_button {
        width: 100px;
        height: 50px;
        font-size: 17px;
        font-weight: 600;
        color: rgb(0, 100, 255);
    }
}