.passenger-selection {
    position: absolute;
    top: 45px;
    width: 300px;
    border-radius: 3px;
    background-color: rgb(221, 228, 230);
    box-shadow: 0 0 5px rgba(0,0,0,1);
    z-index: 2;

    &_buttons-box {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    &_button {
        width: 100px;
        height: 50px;
        font-size: 17px;
        font-weight: 600;
        color: rgb(0, 100, 255);
        border-color: transparent;
        background-color: transparent;

        &:active {
            color: rgb(20, 63, 127);
        }
    }
}