.filters-box {
    width: 100%;
    margin: 15px 0px;
    display: flex;
    

    &_select-div {
        margin: 0px 25px;
        display: flex;
    }

    &_select-directions {
        padding: 8px;
        border: none;
        font-size: 17px;
    }
}
