.inputs-box {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(67, 74, 84); 


    &_button {
        width: 260px;
        height: 40px;
        margin: auto;
        border: none;
        background-color: rgb(27, 188, 155);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;

        &:active {
            background-color: rgb(33, 207, 172);
        }
    }
    


    &_replace {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;  
        width: 35px;
        height: 35px;
        margin: 12px 0 10px 259px;
        border: 3px solid rgb(67, 74, 84);
        border-radius: 50%;
        background-color: rgb(74, 81, 91);



        & svg {
            color: rgb(163, 163, 163);
            width: 35px;
            height: 35px;
            transform: rotate(0deg);
            transition: 1s;

            &:hover {
                transform: rotate(180deg);
                transition: 1s;
            }
        }
    }


    &_input-div-from {
        width: 260px;
        height: 40px;
        margin: auto;
        background-color: rgb(75, 82, 92);
        display: flex;
        align-items: center;


        &--input {
            width: 190px;
            font-size: 20px;
            border: none;
            color: rgb(163, 163, 163);
            background-color: transparent;
            mask-image: linear-gradient(to right, black 60%, transparent 98%);

            &::placeholder {
                color: rgb(163, 163, 163);
            }

            &:focus {
                outline: none;
            }
        }

        &--img {
            color: rgb(163, 163, 163);
            width: 30px;
            height: 21px;
            margin: auto 0 auto 10px;
        }
    }



    &_input-div-to {
        width: 260px;
        height: 40px;
        margin: auto;
        background-color: rgb(74, 81, 91);
        display: flex;
        align-items: center;

        &--input {
            width: 190px;
            font-size: 20px;
            border: none;
            color: rgb(163, 163, 163);
            background-color: transparent;
            mask-image: linear-gradient(to right, black 60%, transparent 98%);

            &::placeholder {
                color: rgb(163, 163, 163);
            }

            &:focus {
                outline: none;
            }
        }

        &--img {
            color: rgb(163, 163, 163);
            width: 30px;
            height: 24px;
            margin: auto 0 auto 10px;
        }
    }
}